<div id="fb-root">
</div>
<script type="text/javascript">

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1&appId=164475273669219";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

window.fbAsyncInit = function () {
    FB.init({
        appId: '164475273669219', // App ID
        channelUrl: '//@Request.Url.Authority/channel.html', // Channel File
        status: true, // check login status
        cookie: true, // enable cookies to allow the server to access the session
        xfbml: true  // parse XFBML
    });

    FB.Event.subscribe('edge.create',
        function (response) {
            var tokens = response.split("/");
            tokens.reverse();
            var msgId = parseInt(tokens[0]);
            if (isNaN(msgId)) {
                return false;
            }
            if (tokens[1] !== "Message") {
                return false;
            }
            var objToQuerystring = function(obj) {
                var str = [];
                for (var p in obj)
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                return str.join("&");
            };
            
            var dataToSend = { messageId: msgId };
            $.ajax({
            url: "@Url.Action("Like", "Message")",
            data: objToQuerystring(dataToSend),
            dataType: "json",
            type:"POST",
            success: function(data, textStatus, jqXHR) {
                console.log(data.ConsoleMessage);
            },
            error:function(data, textStatus, jqXHR) {
                console.log(textStatus);
            }
            });
        });
    FB.Event.unsubscribe('edge.create',
        function (response) {
            var tokens = response.split("/");
            tokens.reverse();
            var msgId = parseInt(tokens[0]);
            if (isNaN(msgId)) {
                return false;
            }
            if (tokens[1] !== "Message") {
                return false;
            }
            var objToQuerystring = function(obj) {
                var str = [];
                for (var p in obj)
                    str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                return str.join("&");
            };
            
            var dataToSend = { messageId: msgId };
            $.ajax({
            url: "@Url.Action("Unlike", "Message")",
            data: objToQuerystring(dataToSend),
            dataType: "json",
            type:"POST",
            success: function(data, textStatus, jqXHR) {
                console.log(data.ConsoleMessage);
            },
            error:function(data, textStatus, jqXHR) {
                console.log(textStatus);
            }
            });
        });
};
</script>
