@{
    ViewBag.Title = "Strona główna";
}

<script type="text/javascript">
    $("#nav-bar-home").addClass("active");
</script>
<div class="hero-unit">
    <h1>
        Poznaj Messim!
    </h1>
    <p>
        Donec id elit nson mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
        commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    </p>
    <p>
        <a href="/User/Register" class="btn btn-primary btn-large">Zarejestruj się! &raquo;</a>
    </p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span6">
        <h2>
            Zobacz co jest New</h2>
        <p>
            Donec id elit nson mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a href="/New" class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span6">
        <h2>
            Zobacz co jest Best</h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
            commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        </p>
        <p>
            <a href="/Best" class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
