@{
    ViewBag.Title = "Strona główna";
}

<script type="text/javascript">
    $("#nav-bar-home").addClass("active");
</script>
<div class="hero-unit">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Podziel się nową wiadomością</h1>
        <p>Messim jest tworzony przez takich ludzi jak ty!</p>
        <a href="/User" class="btn btn-primary btn-large">Wyślij nową wiadomość &raquo;</a>
    }
    else
    {
        
        <h1>Poznaj Messim!
        </h1>
        <p>
            Messim to strona w która pozwala na dzielenie się informacji i EMOCJAMI z całym światem.
        </p>
        <p>
            <a href="/User/Register" class="btn btn-primary btn-large">Zarejestruj się! &raquo;</a>
        </p>
    }
</div>

<div class="row">
    <div class="span6">
        <h2>Zobacz co jest New</h2>
        <p>
            Zobacz co TERAZ dzieje się w świecie Messim
        </p>
        <p>
            <a href="/New" class="btn" href="#">NEW &raquo;</a>
        </p>
    </div>
    <div class="span6">
        <h2>Zobacz co jest Best</h2>
        <p>
            Zobacz najwyżej oceniane wiadomościami
        </p>
        <p>
            <a href="/Best" class="btn" href="#">BEST &raquo;</a>
        </p>
    </div>
</div>
