@using Messim.UI.Helpers
@Url.LoadJS("jquery.form.js")
@Url.LoadJS("jquery.blockUI.js")

<h2>
    Nowa wiadomość
</h2>
<form action="@Url.Action("Send", "Message")" id="message-form" method="POST" class="well" enctype="multipart/form-data">
    <label for="message">
        <strong>Treść wiadomości</strong>
        </label>
    <textarea class="input-xlarge" cols="50" name="messageText" id="message" rows="3"></textarea>
    <p>pozostało <span id="message-chars-count">175</span> znaków</p>
    <label class="" for="fileInput">
        <strong>Wybierz obrazek</strong></label>
    <input class="" id="fileInput" name="messageImage" type="file" accept="image/*"/>
    <button type="submit" class="btn btn-primary">
        <i class="icon-envelope icon-white"></i>Wyślij wiadomość
    </button>
</form>
<div class="alert alert-success" id="message-send-success" style="display: none">
    <h4>Wysłałeś wiadomość</h4>
</div>
<div class="alert alert-error" id="message-send-error" style="display: none">
 <h4>Nie udało się wysłać wiadomości :(</h4>
</div>
<script type="text/javascript">


    $('#message').keyup(function () {
        var charLength = $(this).val().length;
        // Displays count
        $('#message-chars-count').text((175 - charLength).toString());
        // Alerts when 250 characters is reached
        if (charLength > 175) {
            $('button[type=submit]').attr('disabled', 'disabled');
        } else {
            $('button[type=submit]').removeAttr('disabled');
        }
           
    });

    $("#message-form").ajaxForm({
        iframe: true,
        dataType: "json",
        beforeSubmit: function (formData) {
            $("#message-form").block({ message: '<h3>Wysyłanie pliku...</h3>' });
            console.log($.param(formData));
        },
        success: function (result) {
            $("#message-form").unblock();
            $("#message-form").resetForm();
            $("#message-send-success").show();
            $("#message-send-success").fadeIn(function () {
                $(this).fadeOut(5000);
            });
        },
        error: function (xhr, textStatus, errorThrown) {
            $("#message-form").unblock();
            $("#message-form").resetForm();
            $("#message-send-error").fadeIn(function () {
                $(this).fadeOut(5000);
            });

        }

    });
   
</script>
