@model Messim.UI.Models.User
@{
    ViewBag.Title = "title";
}
<h2>
    Login
</h2>
@if (@Html.ValidationSummary() != null)
{ 
<div class="alert alert-error">
    @Html.ValidationSummary()
</div>
}
<div class="hero-unit span4 offset3">
    
        @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "well" }))
        {
            <label>
                Nazwa użytkownika
            </label>
         @Html.TextBox("username", null, new { @class = "span3", placeholder = "Wprowadź swoją nazwę użytkownika" })
            <label>
                Hasło
            </label>
         @Html.TextBox("password", null, new { @class = "span3", placeholder = "Wprowadź swoje hasło" })    
            
        <span class="help-inline">Zapomniałeś hasło?</span>
      <div style="clear: both;content: ''"></div>
            <button type="submit" class="btn btn-primary">
                <i class="icon-ok-sign icon-white"></i>
                Submit
            </button>
    
        }
</div>
