<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <targets>
    <!-- add your targets here -->
    
    
    <target xsi:type="File" name="authLog" fileName="..\logs\Auth.log"
            layout="${longdate} ${uppercase:${level}} ${aspnet-user-identity} ${message}" />
    
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    
    <logger name="Messim.UI.Authentication.*" writeTo="authLog" />
    
  </rules>
</nlog>